/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap'); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* font-family: 'Open Sans', Arial, sans-serif; */
  line-height: 1.6;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  gap: 6vw;
  align-items: center;
  padding: 1.2vw 2.5vw;
  background-color: white;
}

.nav ul {
  display: flex;
  gap: 2vw;
  list-style: none;
  margin-left: 5vw;
}

.nav ul li {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.7vw;
  transition: color 0.3s;
  cursor: pointer;
}

.nav ul li:hover {
  color: #f78d21;
}

.nav ul li a {
  text-decoration: none !important;
  color: #000 !important;
  transition: color 0.3s;
  cursor: pointer;
}

.nav ul li a:visited {
  color: #000 !important;
}

.nav ul li a:hover {
  color: #f78d21 !important;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
}

.search-box input {
  padding: 0.5vw 2vw 0.5vw 0.5vw;
  border: 1px solid #ddd;
  width: 18vw;
  height: 2vw;
  outline: none;
  margin-left: 4vw;
}

.search-box i {
  position: absolute;
  right: 0.8vw;
  color: #f78d21;
  font-size: 0.8vw;
  cursor: pointer;
}

.banner {
  background-image: url('slide1.jpg');
  background-size: cover;
  background-position: center;
  min-height: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2.5vw 1.5vw;
  box-sizing: border-box;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.banner h1 {
  color: #f78d21;
  font-weight: 400;
  font-size: 1.7vw;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  margin-bottom: 1vw;
}

.banner p {
  font-size: 0.7vw;
  font-weight: 100;
  margin-bottom: 0.8vw;
  color: white;
  line-height: 1.9;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 32vw;
  padding: 0 1.5vw;
}

.shop-btn {
  background-color: #f78d21;
  border: none;
  color: white;
  font-weight: 100;
  font-size: 0.7vw;
  padding: 0.5vw 2vw;
  cursor: pointer;
}

.info {
  padding: 5vw 12vw;
}

.section-header {
  text-align: center;
  margin-bottom: 4vw;
}

.section-header h2 {
  font-size: 1.7vw;
  font-weight: 500;
}

.heading-decoration {
  width: 18vw;
  height: auto;
  margin: 0 auto;
  display: block;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5vw;
}

.info-card {
  text-align: center;
}

.icon-circle {
  width: 6.5vw;
  height: 6.5vw;
  border-radius: 60%;
  background-color: white;
  border: 1.1vw solid #f78d21;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1.5vw;
}

.icon-circle i {
  font-size: 1.4vw;
  color: #f78d21;
}

.info-card h3 {
  font-size: 0.8vw;
  font-weight: 600;
  letter-spacing: 0.06vw;
}

.info-card p {
  font-size: 0.7vw;
  padding: 0.8vw 0;
}

.post {
  padding: 1.5vw 12vw;
}

.post-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
}

.post-card {
  overflow: hidden;
  position: relative;
}

.post-card img {
  width: 100%;
  object-fit: contain;
  display: block;
}

.post-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1vw 0.8vw;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 1.8;
}

.post-content h3 {
  color: white;
  font-size: 0.8vw;
  cursor: pointer;
}

.post-content p {
  color: #f78d21;
  font-size: 0.8vw;
}